<div class="ui text container">
  <br/>
  <div class="ui white inverted segment">
  <h1 class="ui grey header">
    <%= @category.category_name %> · 编辑
  </h1>
  <%= render 'form' %>
  <br/>
</div>
<br/>
</div>
