<div class="ui grid">
  <div class="four wide column"><%= render 'categories/index' %></div>
  <div class="one wide column">
    <iframe height="" name="posts" id="" class="" scrolling="auto" frameborder="0" src="http://localhost:3000/categories/1/posts/"></iframe>
    <!--
    <% @category.posts.reverse.each do |post| %>
      <%= link_to post.post_title, "/categories/#{@category.id}/posts/#{post.id}" %>
      <hr/>
    <% end %> -->
  </div>
  <div class="eleven wide column"></div>
</div>
