// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
// Loads all Semantic javascripts
//= require semantic-ui
// simditor 编辑器 javascripts
//= require simditor
//= require simditor-extensions
//= require highlight
//= require imagesloaded.pkgd.min
//= require infinitescroll
//= require masonry.pkgd.min
//= require_tree .


//********** 初始化 simditor 编辑器 **********
$("body.posts-new, body.posts-edit, body.posts-create, body.posts-update").ready(function () {
  var editor = new Simditor({
    textarea: $('#editor'),
    //optional options
    //markdown: true,
    toolbar: [
      'title', 'bold', 'italic', 'underline', 'strikethrough', 'color', 'fontScale',
      'checklist', '|', 'ol', 'ul', 'blockquote', 'hr', 'indent', 'outdent',
      'alignment', '|', 'code', 'table', 'link', 'image', 'emoji', 'markdown',
      'fullscreen'
    ],
    upload: {

      url: '/upload',

      params: {

        "authenticity_token": "#{form_authenticity_token.to_s}"

      },

      fileKey: 'upload_file',

      connectionCount: 3,

      leaveConfirm: 'Uploading is in progress, are you sure to leave this page?'

    },


    placeholder: '',
    pasteImage: true,
    defaultImage: '/images/image.png',
    // upload: '../../../images/upload/',
    emoji: {
      imagePath: '/images/emoji'
    },
    autosavePath: '/editor-content/new/autosave',
    autosave: false
  });

});

//********** 使 .post-text 中的图片居中，给图片加一个父元素div **********
$(document).on('page:change', function () {
  $(".post-text img").wrap("<div class='cover'></div>");
  $(".cover").addClass("cover");
  $(".cover img").addClass("imgshow");
});

//********** 瀑布流+无限加载布局 **********
$(document).on('page:change', function () {
  var $container = $('#masonry');
  $container.imagesLoaded(function () {
    $container.masonry({
      itemSelector: '.box',
      gutter: 20,
      isAnimated: true,
      isFitWidth: true,
      isResizableL: true
    });
  });

  $container.infinitescroll({
        navSelector: ".pagination",      //页面分页元素--本页的导航，意思就是一个可以触发ajax函数的模块
        nextSelector: ".pagination a[rel=next]",  //下一页的导航
        itemSelector: ".box",             //此处我用了类选择器，选择的是你要加载的那一个块（每次载入的数据放的地方）
        //  animate: true,                          //加载时候时候需要动画，默认是false
        //  maxPage: 3,                            //最大的页数，也就是滚动多少次停。这个页码必须得要你从数据库里面拿
        //  debug : true,
        pixelsFromNavToBottom: 300,
        loading: {
          finishedMsg: '没有更多啦。',
          loadingText: '加载中',
          // img: 'images/loading.gif'
        }
      },
      function (newElements) {
        //首先隐藏
        var $newElems = $(newElements).css({opacity: 0});
        $newElems.imagesLoaded(function () {
          //布局时显示
          $newElems.animate({opacity: 1});
          $container.masonry('appended', $newElems, true);
        });
      });


});

//********** semantic-ui js **********
$(document).on('page:change', function () {
  $('.ui.accordion')
      .accordion()
  ;

  $('.ui.dropdown')
      .dropdown()
  ;

// 执行的顺序很重要，一个位置跳动的bug终于解决了，汗。。。
// 看来改bug也是需要转瞬即逝的灵感，不过我太机智了哈哈
  $('.imgshow').click(function () {

    var $modalImageSrc = $(this).attr('src');
    $('.microblog_image').attr('src', $modalImageSrc);

    var $microblogText = $(this).parent().prev().text();

// 不起作用？
// if($microblogText == null){
//   $('.modal_description').parent().css('display','none !important');
// }
// else {
//   $('.modal_description').text($microblogText);
// }

    $('.modal_description').text($microblogText);

    var $albumLink = $(this).parent().prev().prev().children()
    var $albumEditLink = $albumLink.first().attr('href');
    var $albumDelLink = $albumLink.last().attr('href');
    $('.album_edit_link').attr('href', $albumEditLink);
    $('.album_del_link').attr('href', $albumDelLink);

  });

  $('.ui.basic.modal')
      .modal({
        inverted: true
      })
      .modal('attach events', '.imgshow', 'show')
  ;


});

//********** 删除 post-text 中的 moremore **********
$(document).on('page:change', function () {
// var str = document.getElementById("post-text").innerHTML;
  var $str = $(".post-text").html().replace("moremore", "");
  $(".post-text.post-page").html($str);
});
//********** 验证码刷新 **********
$(document).on('page:change', function () {
$(".captcha_link").click(function () {
  $(".captcha_link img").attr("src",'/rucaptcha?'+(new Date()).getTime());
});
});
//********** 高亮 **********
$(document).on('page:change', function () {
  hljs.initHighlightingOnLoad();
});
console.log(' powered by .shamebird (=￣ω￣=)');
