// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.microblog_image.image {
  max-width: 100%;
}

.ui-icon-header {
  text-align: center;
}

.ui.white.inverted.segment{
  background-color: transparent !important;
  color: black;
}

/*body.albums-new, body.albums-edit, body.albums-create, body.albums-update {
  background-color: #f8f8f9;
  // background-image: image-url("editor-bg.jpg");
}*/
