@import "semantic-ui";
// a, a:active, a:hover, a:focus {
//   color: #767676 !important;
// }
html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  //可以修正图片弹出后抖动的bug,但也会引起无限加载的bug
  //overflow: auto;
}

//.ui.header {
//  font-weight: lighter !important;
//}

// .debug {
//   margin-left: 300px;
// }
// input.ui.fluid.large.submit.button {
//   border: 2px solid rgb(118, 118, 118) !important;
//   border-radius: 0.28571429rem !important;
//   background-color: white;
//   &::hover {
//     background-color: #F5F5F5;
//     border-radius: 0.28571429rem !important;
//   }
// }

.ui.icon.header {
  border-bottom: none !important;
}
.admin-bar {
  position: relative !important;
  width: 100% !important;
}
.admin-none-column {
  border: none !important;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.header-bg {
  background-repeat:no-repeat;
  background-attachment:fixed;
  //background-position:center;
  background-size: cover;
}
.blur {
  filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

  -webkit-filter: blur(3px); /* Chrome, Opera */
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
//.fir-bar {
//  background-color: #2185D0;
//}
//
//.sec-bar {
//  background-color: #00BCD4;
//}

