// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// body.categories-show {
//   background-color: #C7EDCC;
//   background-image: image-url("editor-bg.jpg");
// }
div.full-width-header{
  width: 100%;
  // background-color: #FBFBFB;
  padding-top: 1.7em;
  padding-bottom: 1em;
  border-bottom: 1px solid #DEDEDE;
}
div.full-width-footer{
  width: 100%;
  // background-color: #FBFBFB;
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-top: 1px dashed #DEDEDE;
}
// div.category-header{
//   background-color: white;
//   padding: 1.7em 2em 1.5em;
// }
// a, a:active, a:hover, a:focus {
//   color: #767676 !important;
// }
a.category-header-link {
  color: #767676 !important;
  &:active, &:hover, &:focus {
    color: #767676 !important;
  }
}
a.post-title-link {
  color: #5F5F5F !important;
  &:active, &:hover, &:focus {
    color: #767676 !important;
  }
}
.category-input {
    border: 2px dashed #E0E1E2 !important;
    border-radius: 0 !important;
    &:focus {
    border: 2px dashed #00BCD4 !important;
    border-radius: 0 !important;
}
}
.ui.container.category-block-border {
  background-color: white;
  // padding: 1.7em 2em 1.5em;
  padding-top: 1.7em;
  padding-bottom: 1.5em;
  margin-top: 2em;
  border: 1px solid #DEDEDE;
  border-radius: 0.5em;
}
.ui.container.category-block {
  background-color: white;
  // padding: 1.7em 2em 1.5em;
  padding-top: 1.7em;
  padding-bottom: 1.5em;
  margin-top: 2em;
}
div.post-text {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 17px;
  // font-size: 1.4em;
  color: rgba(0, 0, 0, 0.5);
}
div.copy-text{
  line-height: 1.9em;
  font-weight: 400;
  font-size: 16px;
  // font-size: 1.4em;
  color: rgba(0, 0, 0, 0.7);
}
//<!-- 固定宽高布局 Begin -->
// img.post-image {
//   max-width: 100%;
//   // display: inline-block;
//   border-radius: 0.3em;
//   width: 260.75px;
//   height: 260.156px;
// }
//<!-- 固定宽高布局 End -->

// <!-- 瀑布流布局 Begin-->
.container-fluid {
  // padding: 20px;
  margin: 0 auto;
  text-align: center;
  }
.box {
  margin-bottom: 20px;
  // float: left;
  width: 266px;
  }
  .box img {
  max-width: 100%;
  border-radius: 0.3em;
}
// <!-- 瀑布流布局 End-->
