// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body.categories-show {
//   background-color: #C7EDCC;
//   background-image: image-url("editor-bg.jpg");
// }
// div.top-header{
//   padding: 1.7em 1em 1em 1em;
// }
body.categories-new, body.categories-edit, body.categories-create, body.categories-update {
  background-color: #f8f8f9;
  // background-image: image-url("editor-bg.jpg");
}

div.full-width-header {
  width: 100%;
  // background-color: #FBFBFB;
  padding-top: 1.7em;
  padding-bottom: 1em;
  // border-bottom: 1px solid #DEDEDE;
}

div.full-width-footer {
  width: 100%;
  // background-color: #FBFBFB;
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-top: 1px dashed #DEDEDE;
}

// div.category-header{
//   background-color: white;
//   padding: 1.7em 2em 1.5em;
// }
// a, a:active, a:hover, a:focus {
//   color: #767676 !important;
// }
.site-header {
  color: black !important;
}

.inline-block-site-header {
  // color: white;
  color: black !important;
  display: inline-block;
  // background: black;
}

.inline-block-site-sub-header {
  color: white;
  display: inline-block;
  background: #eded00;
}

.site-sub-header {
  color: #fbbd08;
  font-size: 1.2rem;
  font-weight: 700;
}

.black-header {
  color: black !important;
}

a.category-header-link {
  color: black !important;
  &:active, &:hover, &:focus {
    // color: #ff2333 !important;
    color: #dd2333 !important;
  }
}

.category-header-link-click {
  color: white !important;
  background-color: #767676;
  border-radius: 0.3em;
}

/*.special-image-cover {
  height: 250px;
  text-align: center;
  background-image: url("bg.png");
  overflow: hidden;
}*/
.post-special-image {
  height: auto;
  max-width: 100%;
  //width: 95%;
  vertical-align: middle;
}

a.post-title-link {
  font-size: 3.0rem;
  color: black !important;
  &:active, &:hover, &:focus {
    // color: #ff0016 !important;
    color: #dd2333 !important;
  }
}

.editor-style p {
  color: black !important;
}

.category-input {
  border: 2px dashed #E0E1E2 !important;
  border-radius: 0 !important;
  &:focus {
    border: 2px dashed #00BCD4 !important;
    border-radius: 0 !important;
  }
}

.category-block-border {
  // display: none;
  text-align: center;
  background-color: white;
  // padding: 1.7em 2em 1.5em;
  padding-top: 1.7em;
  padding-bottom: 1.5em;
  // margin-top: 2em;
  border: 3px dashed #dd2333;
  border-radius: 0.5em;
}

.category-block {
  background-color: white;
  // padding: 1.7em 2em 1.5em;
  padding-top: 1.6em !important;
  margin-bottom: 1.5em !important;
  margin-top: 1em !important;
}

.cat-link a {
  color: black !important;
  &:active, &:hover, &:focus {
    color: #ff2333 !important;
  }

}

.sb-main-content {
  margin-top: 2.6em;
}

div.post-text {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 17px;
  // font-size: 1.4em;
  // color: rgba(0, 0, 0, 0.5);
  // padding-left: 10px;
  padding-bottom: 0.61em;
}

div.copy-text {
  text-align: center;
  line-height: 1.9em;
  font-weight: 700;
  font-size: 16px;
  // font-size: 1.4em;
  color: black;
}

.pagination {
  text-align: center;
}

// <!-- 瀑布流布局 Begin-->
.container-fluid {
  // padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.box {
  margin-bottom: 20px;
  // float: left;
  width: 266px;
}

.box img {
  max-width: 100%;
  border-radius: 0.3em;
  border: 1px solid #EEE;
}

// <!-- 瀑布流布局 End-->
