// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.comments-index {
  background-color: #f8f8f9;
  // background-image: image-url("editor-bg.jpg");
}
.ui.comments .comment .author {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.6);
}

.ui.comments .comment .text {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.4285em;
}
