// Place all the styles related to the microblogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui.image.fixheight {
  height: 158px;
  width: auto;
}
.black-color {
  color: black !important;
}
