// Place all the styles related to the microblogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui.image.fixheight {
  height: 158px;
  width: auto;
}

.black-color {
  color: black !important;
}

/*body.microblogs-new, body.microblogs-edit, body.microblogs-create, body.microblogs-update {
  background-color: #f8f8f9;
  // background-image: image-url("editor-bg.jpg");
}*/
