// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.posts-new, body.posts-edit, body.posts-create, body.posts-update {
  //background-color: #C7EDCC;
  background-color: #f8f8f9;
  // background-image: image-url("editor-bg.jpg");
}

// .ui.container.post-form {
//   background-color: #FFFFFF;
//   // border: 1px solid #eeeeee;
//   // border-top: 5px solid #eeeeee;
//   // padding-top: 1em;
//   margin-top: 3em;
//   border-radius: 4px !important;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !important;
// }
.ui.form.post-radius-form {
    border-radius: 0.28571429rem;
    background-color: white;
}
.post-title-div {
  padding: 0.618em;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 0 !important;
}

.post-title-field {
  // background-color: beige !important;
  line-height: 30px !important;
  font-size: 30px !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 30px !important;
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}

.post-image-field {
  line-height: 16px !important;
  font-size: 16px !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  // padding: 0 30px !important;
  border: 2px dashed #E0E1E2 !important;
  &:focus {
    border: 2px dashed #00BCD4 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

.post-copy-right{
  color: #fbbd08 !important;
}

.posts-timeline {
  border-left: 3px solid #fbbd08;
}

.post-timeline {
  padding-left: 42px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #dedede;
}

.post-timeline-dot {
  display: inline-block;
  /* position: absolute; */
  /* top: 0px; */
  /* left: 0; */
  margin-left: -52px;
  width: 1.2rem;
  height: 1.2rem;
  // opacity: 0.5;
  background: #dd2333;
  // border: 1px solid #FFFFFF;
  border-radius: 1000px;
}

.simditor {
  border: none !important;
  &:focus {
    border: none !important;
  }
}

.simditor .simditor-body {
  min-height: 892px;
  font-size: 18px !important;
  //font-weight: 100 !important;
  line-height: 30px !important;
  padding: 22px 30px 40px !important;
  // background-color: beige;
}

.simditor .simditor-toolbar {
  border-bottom: none !important;
  background: #eeeeee !important;
}

.cover {
  text-align: center;
}

.cover img {
  max-width: 100%;
  display: inline-block;
  border-radius: 0.3em;
}

.ui.header.inline-block {
  display: inline-block;
  margin-left: 3em;
}

a.greylink, a.greylink:active, a.greylink:hover, a.greylink:focus {
  color: #6B6868 !important;
}

.center-aligned-no-lr-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

h1.ui.header.site-header {
  font-weight: normal;
}
