<div class="full-width-footer">
  <div class="ui center aligned container copy-text">
    <%= copy_year('2016') %>&nbsp;&nbsp;&nbsp;kukudixiaoming
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code&design with heart
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;powered by Tobin&nbsp;&nbsp;&nbsp;:)
  </div>
</div>
