<div class="full-width-header ui container">
  <div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
      <h1 class="site-header">
        <%= link_to '羞耻的噜噜', root_path, class: "site-header" %>
      </h1>
      <div class="site-sub-header">羞耻如我，不一样的烟火</div>
    </div>
    <div class="twelve wide computer only right aligned column">
      <br/>
      <h3 class="site-header">
        <% @categories.each do |category| %>
        <%= link_to category.category_name, category_path(category),
                    title: category.category_brief, id: "category-#{category.id}", class: "category-header-link" %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <% end %>
      </h3>
    </div>
    <div class="sixteen wide mobile sixteen wide tablet only column">
      <h3 class="site-header">
        <% @categories.each do |category| %>
        <%= link_to category.category_name, category_path(category),
                    title: category.category_brief, id: "category-#{category.id}", class: "category-header-link" %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <% end %>
      </h3>
    </div>
  </div>
</div>
