<div class="ui text container">
  <br/>
  <div class="ui white inverted segment">
  <h1 class="ui grey header">
    分类·新建
  </h1>
  <%= render 'form' %>
  <br/>
</div>
</br>
  <!-- <%= link_to '全部分类', categories_path %> -->
</div>
